.spot-details,
.spot-reviews {
  max-width: 1000px;
  margin: 0 auto;
}

#spot-images {
  display: flex;
  flex-direction: row;
  height: 400px;
}

img#previewImage {
  height: 410px;
  width: 410px;
  margin: 1%;
  object-fit: cover;
}

#previewImage img {
  width: 1fr;
  height: 1fr;
  object-fit: cover;
}

.small-images {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}
.single-small-image {
  display: flex;
  justify-content: center;
  margin: 1%;
}
.single-small-image img {
  width: 100%;
  height: 100%;
}

.reserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  width: 20%;
  border: 2px solid black;
}

.reserve button {
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}
