body {
  display: grid;
  /* placeholder */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 11fr, 7fr, 5fr, 5fr, 8fr;
}

.sub-form {
  grid-column: 2/5;
}
/* ??????????????????????????????????? */
