/* TODO: Add sitewide styles */
body {
  background-color: #f7f4d7;
}
p {
  font-family: "Space Grotesk";
  color: #264233;
}
h1,
h2,
li {
  font-family: "Alice";
  color: #264233;
}
/* 
div#modal-content {
  text-align: center;
} */
