/* TODO: Add sitewide styles */
body {
  background-color: #f7f4d7;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}
p {
  font-family: "Space Grotesk";
  color: #264233;
}
h1,
h2,
li {
  font-family: "Alice";
  color: #264233;
}
h4.month-year-review {
  opacity: 75%;
}
/* 
div#modal-content {
  text-align: center;
} */

p.error-message {
  font-family: "Space Grotesk";
  color: #6b2e33;
}

:disabled {
  display: flex;

  align-items: center;
  background-color: #afc17a;
  border: 2px solid #264233;
  border-radius: 8px;
  color: #264233;
  cursor: pointer;
  font-family: "Space Grotesk";
  font-size: 15px;
  margin: 3px 5px;
  padding: 2px;
  opacity: 0.35;
  cursor: not-allowed;
}
