div#modal-content {
  background-color: #f7f4d7;
}

nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* max-width: 1000px; */
  margin: 0 5%;
}

button,
.nav-button {
  display: flex;

  align-items: center;
  background-color: #afc17a;
  border: 2px solid #264233;
  border-radius: 8px;
  color: #264233;
  cursor: pointer;
  font-family: "Space Grotesk";
  font-size: 15px;
  margin: 3px 5px;
  padding: 2px;
}
.nav-button {
  width: fit-content;
}
h1 {
  display: flex;
  /* justify-content: flex-start; */
}

#user-dropdown-button {
  display: flex;

  align-items: center;
  background-color: #afc17a;
  border: 2px solid #264233;
  border-radius: 8px;
  color: #264233;
  cursor: pointer;
  font-family: "Space Grotesk";
  font-size: 15px;
  margin: 3px 5px;
  padding: 7% 10px;
}

/* #new-spot-button {
  display: flex;
  order: -1;
} */

div.user-nav {
  display: flex;
  flex-direction: r;
}

#new-spot-button {
  margin-top: 10%;
}

/* .align-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .profile-dropdown{
  position: relative;
  padding: 0;
  margin-right: 1em;
  border: none;
} */
