div#modal-content {
  background-color: #f7f4d7;
}

nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* max-width: 1000px; */
  margin: 0 5%;
}

button,
.nav-button {
  display: flex;

  align-items: center;
  background-color: #afc17a;
  border: 2px solid #264233;
  border-radius: 8px;
  color: #264233;
  cursor: pointer;
  font-family: "Space Grotesk";
  font-size: 15px;
  margin: 3px 5px;
  padding: 2px;
}
.nav-button {
  width: fit-content;
}
h1 {
  display: flex;
  /* justify-content: flex-start; */
}
