button, .home-button{
    align-items: center;
    background-color: #afc17a;
    border: 2px solid #264233;
    border-radius: 8px;
    color: #264233;
    cursor: pointer;
    font-family: 'Space Grotesk';
    font-size: 15px;
    margin: 3px 5px;
    padding: 2px;
   }
.home-button{
    width: fit-content;
}
